APP_NAME="JTECH NOVA"
APP_URL=http://localhost:8000
APP_ENV=local
APP_DEBUG=true
APP_LOCALE=id
APP_TIMEZONE=Asia/Jakarta


DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=jtech_rest_api
DB_USERNAME=root
DB_PASSWORD=

API_TOKEN_PREFIX=
API_TOKEN_EXPIRES_IN=    #Dalam menit
API_TOKEN_SECRET=  #Ganti dengan string random

QUEUE_DRIVER=database

CACHE_DRIVER=database   # atau 'redis'

# Kalau pakai redis:
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0